language: emacs-lisp
# XXX: Requires sudo because; because travis-ci apt-package-whitelist
# doesn't contain the following packages: cvs darcs fossil texinfo
sudo: required
env:
  - ARCHIVE=unstable PKGDIR="${TRAVIS_BUILD_DIR}/${ARCHIVE}"
  - ARCHIVE=stable   PKGDIR="${TRAVIS_BUILD_DIR}/${ARCHIVE}" STABLE=true
before_install:
  - export PATH="${PATH//:\.\/node_modules\/\.bin/}"   # XXX: https://github.com/travis-ci/travis-ci/issues/2811
  - curl -fsSL https://github.com/milkypostman/melpa/archive/master.tar.gz | tar xz
  - find melpa-master/recipes -type f -execdir mv {} {}.rcp \;
  - mkdir -p "${PKGDIR}"
script:
  - travis_retry make PKGDIR="${PKGDIR}" STABLE="${STABLE}" RCPDIR="melpa-master/recipes" -j4 pkgs
  - travis_retry make PKGDIR="${PKGDIR}" STABLE="${STABLE}" archive-contents
addons:
  apt:
    sources:
      - cassou-emacs
    packages:
      - curl
      - emacs24
      - bzr
      - git
      - mercurial
      - subversion
      - cvs
      - darcs
      - fossil
      - texinfo
deploy:
  provider: s3
  access_key_id:
    secure: eVW0RtbSVK3zqjOhiLtogp88RBdT5gOtxd2kRHSnL9BfMcg0vSskbHFa1+jFLdmwlNdT6HMF4jmfay10rdQGG9F+fNQ2rRxhK0x2MQ9TPyWQEurJLGEjBXHxn6zJDalcAkrKMbZw237LQ9TUZ/HZZT8+1zYy44+5xfXHxIAW05Y=
  secret_access_key:
    secure: Q4jrbHRJWLkz1LlAeBPTS0GlVWtnHcTgwTUmW9s03Kvvx/Fq8tIduns2+xhkpSe6YyP7rQ8ccYDGywM418ApT2JKQiGtIr0yA7P/dS6OIj3F09uLw3MenDQyCmqQ9uRfdZm/LjAjXnvco4mjHrjJ2wpBOiFFUmwxqtN/2UL4RPw=
  bucket: melpa.emacs.pe
  acl: public_read
  skip_cleanup: true
  local_dir: "${ARCHIVE}"
  upload-dir: "${ARCHIVE}"
  on:
    repo: emacs-pe/melpa
